@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
#006BA6 - azul escuro
#0496FF - azul claro
#FFBC42 - amarelo
#232020 - preto mais claro
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006BA6;
}

.container {
    width: 600px;
    background-color: #232020;
    color: white;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-size: 2.5em;
}

p {
    text-align: justify;
}

button, #test {
    height: max-content;
    border: 4px solid #0496FF;
    background-color: transparent;
    color: white;
    padding: 20px;
    font-size: 1.75em;
    width: 250px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.41));
    transition: all .3s ease;
}

button:hover, #test:hover {
    background-color: #0496FF;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.41);
}

.container > input, #div-senha > input {
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    outline: none;
}

#div-senha {
    width: 100%;
}

.container > #div-senha > input {
    width: 100%;
}

i.fa-eye {
    display: none;
}

i.fa-eye-slash, i.fa-eye {
    position: absolute;
    top: 50%;
    transform: translate(-30px, -25%);
    color: #232020;
    cursor: pointer;
}